<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<ul id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <li>
      <h3>
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </h3>
    </li>
  <% end %>
</ul>
